.container {
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 4rem !important;
  align-self: center;
  font-weight: normal !important;
  color: rgb(198, 106, 106) !important;
  margin-bottom: 12px !important;
}
